@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangNhap</title>
</head>
<body>
    <div> 
        <form method="post">
            <div>
                <p>Tài khoản:</p>
                <p>
                    <input type="text" name="Username" />
                </p>
            </div>
            <div>
                <p>Mật khẩu:</p>
                <p>
                    <input type="password" name="Password" />
                </p>
            </div>
            <div>
               <button type="submit">Đăng nhập</button>
            </div>
            <p style="color:red;">@ViewBag.message</p>
        </form>
    </div>
</body>
</html>
